<div class="jumbotron">
  <h1>Ayuda ?</h1>
  <p>Pregunta a Ing Pablo</p>
  <%= image_tag  'banana.gif'%>
  <iframe width="854" height="480" src="https://www.youtube.com/embed/3TDaN6KOUf8" frameborder="0" allowfullscreen></iframe>
</div>